In [1]:
import pandas as pd
import sqlalchemy as alch

from getpass import getpass # sistema seguro para gestión de contraseñas

In [2]:
# cargamos los datos: 

demography=pd.read_csv("../data/SQL/df_demo.csv")
localization=pd.read_csv("../data/SQL/df_localization.csv")
population= pd.read_csv("../data/SQL/df_pop.csv")
services=pd.read_csv("../data/SQL/df_services.csv")
status=pd.read_csv("../data/SQL/df_status.csv")

# Conexión con MySQL

In [29]:
# almacenamos la contraseña en una variable de forma segura, para que nadie la pueda ver. 

password = getpass("Contraseña de MySQL: ")

Contraseña de MySQL: ········

In [30]:
# almacenamos el nombre de nuestra BBDD en una variable
db_name = "mydbchurn"

# creamos la conexipn con MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [31]:
engine = alch.create_engine(conexion)

# Insertamos datos en SQL

### Insertamos datos en tabla "population"

In [11]:
population.head(1)

   Zip Code  Population
0     90001       54492

In [12]:
for index, row in population.iterrows():
    engine.execute(f"""
            INSERT INTO population (zipcode, population) VALUES
            ("{row['Zip Code']}","{row["Population"]}");""")

### Insertamos datos en tabla "status"

In [13]:
status.head()

,Customer ID,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,2,Churned,Yes,1,67,2793,Price,Extra data charges

In [14]:
status.columns

Index(['Customer ID', 'Satisfaction Score', 'Customer Status', 'Churn Label',
       'Churn Value', 'Churn Score', 'CLTV', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [19]:
for index, row in status.iterrows():
    engine.execute(f"""
            INSERT INTO status (id,satisfaction_score,customer_status,churn_label,churn_value,
            churn_score,cltv,churn_category,churn_reason) VALUES
            ("{row['Customer ID']}","{row["Satisfaction Score"]}","{row['Customer Status']}","{row['Churn Label']}",
            "{row['Churn Value']}","{row['Churn Score']}","{row['CLTV']}","{row['Churn Category']}",
            "{row['Churn Reason']}");""")

### Insertamos datos en tabla "demography"

In [7]:
demography.head(1)

  Customer ID Gender  Age Married Dependents  Number of Dependents
0  8779-QRDMV   Male   78      No         No                     0

In [28]:
for index, row in demography.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    id_cliente = engine.execute(f"""select id from demography WHERE id = "{row['Customer ID']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(id_cliente)) > 0: 
        print("lo siento, este id ya existe")
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        status_id = engine.execute(f"""SELECT id FROM status WHERE id = '{row['Customer ID']}'""")

        engine.execute(f"""
            INSERT INTO demography (id, gender, Age, married, dependents, number_of_dependents, status_id)
            VALUES ("{row['Customer ID']}", "{row['Gender']}", {row['Age']}, "{row['Married']}","{row['Dependents']}", "{row['Number of Dependents']}","{row['Customer ID']})
        """)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, 'You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near \'"8779-QRDMV)\' at line 2')
[SQL:
            INSERT INTO demography (id, gender, Age, married, dependents, number_of_dependents, status_id)
            VALUES ("8779-QRDMV", "Male", 78, "No","No", "0","8779-QRDMV)
        ]
(Background on this error at: https://sqlalche.me/e/14/f405)