In [ ]:
import pandas as pd
import sqlalchemy as alch
from sqlalchemy import create_engine, Table, MetaData

from getpass import getpass # sistema seguro para gestión de contraseñas

In [ ]:
# cargamos los datos: 

demography=pd.read_csv("../data/SQL/df_demo.csv")
localization=pd.read_csv("../data/SQL/df_localization.csv")
population= pd.read_csv("../data/SQL/df_pop.csv")
services=pd.read_csv("../data/SQL/df_services.csv")
status=pd.read_csv("../data/SQL/df_status.csv")

# Conexión con MySQL

In [ ]:
# almacenamos la contraseña en una variable de forma segura, para que nadie la pueda ver. 

password = getpass("Contraseña de MySQL: ")

In [ ]:
# almacenamos el nombre de nuestra BBDD en una variable
db_name = "mydbchurn"

# creamos la conexipn con MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [ ]:
engine = alch.create_engine(conexion)

In [ ]:
'''metadata = MetaData()
tabla = Table('services', metadata, autoload=True, autoload_with=engine)'''

In [ ]:
'''delete_stmt = tabla.delete()'''

In [ ]:
'''with engine.connect() as conn:
    conn.execute(delete_stmt)'''

# Insertamos datos en SQL

### Insertamos datos en tabla "population"

In [ ]:
population.head(1)

In [ ]:
for index, row in population.iterrows():
     # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    pop_ = engine.execute(f"""select zipcode from population WHERE zipcode = "{row['Zip Code']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(pop_)) > 0: 
        print("lo siento, este id ya existe")
    else: 
        engine.execute(f"""
                INSERT INTO population (zipcode, population) VALUES
                ("{row['Zip Code']}","{row["Population"]}");""")

### Insertamos datos en tabla "status"

In [ ]:
status.head()

In [ ]:
status.columns

In [ ]:
for index, row in status.iterrows():
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    status_ = engine.execute(f"""select id from status WHERE id = "{row['Customer ID']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(status_)) > 0: 
        print("lo siento, este id ya existe")
    engine.execute(f"""
            INSERT INTO status (id,satisfaction_score,customer_status,churn_label,churn_value,
            churn_score,cltv,churn_category,churn_reason) VALUES
            ("{row['Customer ID']}","{row["Satisfaction Score"]}","{row['Customer Status']}","{row['Churn Label']}",
            "{row['Churn Value']}","{row['Churn Score']}","{row['CLTV']}","{row['Churn Category']}",
            "{row['Churn Reason']}");""")

### Insertamos datos en tabla "demography"

In [ ]:
demography.head(1)

In [ ]:
for index, row in demography.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    demo_= engine.execute(f"""select id from demography WHERE id = "{row['Customer ID']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(demo_)) > 0: 
        print("lo siento, este id ya existe")
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        status_id = engine.execute(f"""SELECT id FROM status WHERE id = '{row['Customer ID']}'""")

        engine.execute(f"""
            INSERT INTO demography (id, gender, Age, married, dependents, number_of_dependents, status_id)
            VALUES ("{row['Customer ID']}", "{row['Gender']}", {row['Age']}, "{row['Married']}","{row['Dependents']}", "{row['Number of Dependents']}","{row['Customer ID']}")""")

In [ ]:
services.head()

In [ ]:
services.columns

In [ ]:

services_table = Table('services', metadata, autoload=True, autoload_with=engine)

print(services_table.columns.keys())

In [ ]:
len(services_table.columns.keys())

### Insertamos datos en tabla "services"

In [ ]:
for index, row in services.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    services_= engine.execute(f"""select id from services WHERE id = "{row['Customer ID']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(services_)) > 0: 
        print("lo siento, este id ya existe")
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
            INSERT INTO services (id,referred_a_friend,number_of_referrals,tenure_in_months,offer,phone_service,avg_month_long_distance_charges,multiple_lines,internet_service,
            internet_type,avg_monthly_gb_download,online_security,online_backup,device_protection_plan,premium_tech_support,
            streaming_tv,streaming_movies, streaming_music, unlimited_data,contract,paperless_billing,monthly_charge,
            total_charges,total_refunds,total_extra_data_charges,total_long_distance_cbarges,total_revenue) 
            VALUES ("{row['Customer ID']}", "{row['Referred a Friend']}", {row['Number of Referrals']}, "{row['Tenure in Months']}","{row['Offer']}", "{row['Phone Service']}",
            "{row['Avg Monthly Long Distance Charges']}","{row['Multiple Lines']}","{row['Internet Service']}","{row['Internet Type']}","{row['Avg Monthly GB Download']}",
            "{row['Online Security']}","{row['Online Backup']}","{row['Device Protection Plan']}","{row['Premium Tech Support']}","{row['Streaming TV']}",
            "{row['Streaming Movies']}","{row['Streaming Music']}","{row['Unlimited Data']}","{row['Contract']}","{row['Paperless Billing']}",
            "{row['Monthly Charge']}","{row['Total Charges']}","{row['Total Refunds']}","{row['Total Extra Data Charges']}","{row['Total Long Distance Charges']}",
            "{row['Total Revenue']}");""")

### Insertamos datos en la tabla lozalization

In [ ]:
localization.head(1)

In [ ]:
for index, row in localization.iterrows():
     # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    loc_ = engine.execute(f"""select id from localization WHERE id = "{row['Customer ID']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(loc_)) > 0: 
        print("lo siento, este id ya existe")
    else: 
        engine.execute(f"""
                INSERT INTO localization (id,city,zipcode,population_zipcode,demography_id) VALUES
                ("{row['Customer ID']}","{row["City"]}","{row['Zip Code']}","{row['Zip Code']}",
                "{row['Customer ID']}");""")

# Pruebas

-

In [117]:
q_1 = """

select * from demography
natural join status
where gender = "Female" 
order by churn_label;

"""

In [118]:
df_1 = pd.read_sql(q_1, engine)

df_1.head(4)

,id,gender,Age,married,dependents,number_of_dependents,status_id,satisfaction_score,customer_status,churn_label,churn_value,churn_score,cltv,churn_category,churn_reason
0,7874-ECPQJ,Female,57,No,Yes,2,7874-ECPQJ,5,Stayed,No,0,57,4462,nan,nan
1,7876-AEHIG,Female,48,No,No,0,7876-AEHIG,3,Stayed,No,0,37,5404,nan,nan
2,7876-BEUTG,Female,34,No,No,0,7876-BEUTG,4,Stayed,No,0,57,2577,nan,nan
3,7876-DNYAP,Female,29,Yes,Yes,2,7876-DNYAP,5,Stayed,No,0,36,5423,nan,nan

In [120]:
df_1["churn_label"].value_counts()

No     2549
Yes     939
Name: churn_label, dtype: int64

In [121]:
df_1["gender"].value_counts()

Female    3488
Name: gender, dtype: int64

In [122]:
q_2 = """
SELECT demography.gender, status.churn_label
FROM demography
NATURAL JOIN status
WHERE demography.gender = "Female" 
ORDER BY status.churn_label;
"""

In [123]:
df_2 = pd.read_sql(q_2, engine)

df_2.head(4)

   gender churn_label
0  Female          No
1  Female          No
2  Female          No
3  Female          No

In [124]:
q_3 = """
SELECT demography.gender, status.churn_label, localization.city
FROM demography
NATURAL JOIN status
NATURAL JOIN localization
WHERE demography.gender = "Female"  
ORDER BY status.churn_label;
"""

In [125]:
df_3 = pd.read_sql(q_3, engine)

df_3.head(4)

   gender churn_label         city
0  Female          No  Los Angeles
1  Female          No        Llano
2  Female          No      Topanga
3  Female          No        Doyle